* {
    margin: 0;
    padding: 0;
    background-color: #1d1e22; 
    color: #141414;
    color: #7ba92c;
    

}

html {
    font-size: 16px;
}


/* nav-bar */

nav {
    overflow: hidden;
}


.logo {
    display: inline;
    z-index: 2;
}

ul {
    display: flex;
    align-content: center;
    justify-content: right;
    max-width: 100%;
    height: auto;
    background-color: #7ba92c;
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}

li {
    display: inline;
    border: .2em solid pink;
    padding: 1em;
    margin: 2em;
    text-align: center;
    max-width: 10em;
    height: auto;
    background-color: orange;
    
}


li:hover {
    background-color: purple;
    border-color: plum;
}

/*-------mario bullet and plane animation--------*/

.intro-animation {
    display: inline;
    max-width: 100%;
    height: auto;
    border: 2px black solid;
    
    overflow: hidden;

}

.mario-bullet {
    width: 2em;
    overflow: hidden;
    z-index: -1;

}

.mario-bullet {
    transition: transform 1s;
    animation-name: mario-bullet-animation;
    animation-duration: 20s;
    animation-delay: 1s;
    width: 2em;

}
.mario-bullet-animation {
    animation-name: mario-bullet-animation;
    transition: transform 1s;
    animation-duration: 20s;
    animation-delay: 3s;
    width: 10em;
}

.intro-animation img:nth-child(2) {
    width: 10em;

}

.intro-animation img:nth-child(3) {
    width: 10em;
}

.intro-animation img:nth-child(4) {
    animation-name: intro-anime;
    transition: transform 1s;
    animation-duration: 20s;
    animation-delay: 3s;
    width: 10em;
}


@keyframes intro-anime {
    from {
        margin-left: 100%;

    }

    to {
        margin-right: 100%;

    }
    

    /*
    0% {float: right}
    50% {float: center}
    100% {float: left} */
}
/*forehead  animation */
.forehead {
    animation-name: forehead-animation;
    transition: transform 1s;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    position: relative;
    max-width: 200%;
    
}

@keyframes forehead-animation {
    from {
        top: 36.9%;
    }

    to {
        top: 10%;
    }
}




/*------ self photo section------- */
.profile-pic {
    background-color: red;
    max-width: 100vw;
    height: 70vh;
    max-height: auto;
    overflow: hidden;
    justify-content: center;
    
    display: flex;
    z-index: 1;

}

.self {
    max-width: 30%;
    max-height: auto;
    background-color: #7ba92c;
    border: black 2px solid;
    position: relative;
    overflow: hidden;
    display: flex;
    left: 20%;
                
}
/*forehead picture and shadow animation */

.forehead {
    max-width: 200%;
    min-width: 100%;
    height: auto;
    position: relative;
    display: block;
    left: 300%;  
    top: 36.9%;
    z-index: 5;
    background-color: transparent;

}

.forehead-shadow {
    animation-name: forehead-shadow-animation;
    transition: transform 1s;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    position: relative;
    max-width: 200%;
    visibility: hidden;
}

@keyframes forehead-shadow-animation {
    from {
        top: 46%;
        opacity: 0;
    }

    to {
        top: 20%;
        visibility: visible;
        opacity: 1;
    }
}

/*main head */
.main-head {
    max-width: 200%;
    min-width: 100%;
    height: auto;
    position: relative;
    display: block;
    background-color: transparent;
    left: 12%;
    top: 30%;
    z-index: 1;
    overflow: hidden;
}


/*cloud picture and animation */
.cloud {
    max-width: 200%;
    min-width: 100%;
    height: auto;
    position: relative;
    display: block;
    z-index: 2;
    background-color: transparent;
    z-index: 5;
    overflow: hidden;
    right: 200%;
    top: 32.3%;
    
}

.cloud {
    animation-name: cloud-animation;
    transition: transform 1s;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    position: relative;
    max-width: 200%;
    visibility: hidden;
}

@keyframes cloud-animation {
    from {
        opacity: 0%;
    }

    to {
        visibility: visible;
        opacity: 1;
    }
}


.forehead-shadow{
    max-width: 200%;
    min-width: 100%;
    height: auto;
    position: relative;
    display: block;
    background-color: transparent;
    z-index: 6;
    overflow: hidden;
    right: 110%;
    top: 46%;
}

.main-head-shadow {
    max-width: 200%;
    height: auto;
    min-width: 100%;
    position: relative;
    display: block;
    background-color: transparent;
    z-index: 3;
    overflow: hidden;
    right: 290.4%;
    top: 45%;
}

.main-head-shadow {
    animation-name: main-head-animation;
    transition: transform 1s;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    position: relative;
    visibility: hidden;
    max-width: 200%;
    height: auto;
    min-width: 100%;
    
}

@keyframes main-head-animation {
    from {
        opacity: 0%;
    }

    to {
        visibility: visible;
        opacity: 1;
    }
}


/*-------Card container for protfolio projects--------*/

.project-container {
    perspective: 800px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;

}

.project-card {
    width: 10em;
    height: 10em;
    object-fit: cover;
    transform-style: preserve-3d;
    position: relative;
    transition: transform 1.5s cubic-bezier(0.4, 0.03, 0.5, 0.9);
    border: 4px solid black;
    left: 100px;
    top: 100px;


}

.card-image {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    object-fit: cover;
    outline: 2px solid #fff;
    outline-offset: 5px;
    backface-visibility: hidden;

}

.card-image:nth-child(2),

.project-card:hover {
    transform: rotate3d(0, 1, 0, 180deg);
}


/* project block section */

.project-block {
    display: flex;
    width: 100vw;
    height: 40vh;
    background-color: green;
}


/* end of card container */