/* color pallet 
background-color: #4a2c2c;
background-color: #141414;
background-color: #1d1e22; 
main background-color: azure;
main background-color: #1d1e22;
    color: #141414;
    color: #7ba92c;
Main font color: #1d1e22;
Main font color: azure;
*/


*{
    margin: 0;
    padding: 0;
    /* background-color: #1d1e22; */
    font-family: "Asap Condensed";
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
    
}


html {
    font-size: 16px;
    
}

body {
   /* background-image: radial-gradient(black, red, green); */
   /* background-color: #1d1e22;  */
   overflow: hidden;
  
 
   
}
   /* changed the font sizes and styling per element type */
p{
    color:#fff;
    font-size: 1.5rem;
}
h3 {
    color:#fff;
    font-size: 1.5rem;
}

h1, h2 { 
   color: orange;
}



/* end */

header{
    background-color: azure;
    width: 100vw;
}


.hidden {
    visibility: hidden;
    width: 100%;
    
}
/* nav-bar */

a {
    /*color:#141414; 
    color: #7ba92c; */
    /* color: #1d1e22;
    text-decoration: none;
    transition: color 1s ease-in-out, box-shadow 1s ease-in-out; */
    background-image: linear-gradient( to right, orange, black 50%, #000 50% );
    background-size: 200% 100%;
    background-position: -100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 1s ease-in-out;
}


a:hover {
    
    /* box-shadow: inset 100px 0 0 0 #1d1e22; */
    border-bottom: 4px solid orange;
    color: azure;
    text-decoration: none;
    
}

a:hover{
    background-position: 0;

}
a:hover::before {
    width: 100%;
}

a:active {
    color: #7ba92c;
    text-decoration: none;
}
/* main nav parent flex box to manipulate nav bar */
nav {
   
    display: flex;
    position: absolute;
    width: 100vw;
    height: auto;
    color: #1d1e22;
    overflow: hidden;
    background-color: transparent;
}

/*
.logo {
    display: inline;
    z-index: 2;
}
  */
  /* nav to change the styling of the elements */

/* styling for logo */
li:first-child{
    /*background-color: red; */
    margin: 0 30rem 0 0;
}
li:nth-child(7){
    background-color: red;
    margin: 0 0 0 10rem;

}

li:nth-child(8){
    margin: 0 2rem 0 0;
    background-color: none;

}

li:nth-child(8):hover {
    color: #fff;
    /*
    font-size: 4rem;
    background-color: #141414;
    */
}

li:nth-child(9){
    background-color: red;

}
ul {
    display: flex;
    align-content: center;
    padding: 0;
    list-style-type: none;
    color: #1d1e22;
    overflow: hidden;
    border-bottom: 2px solid #fff;
    background-color: transparent;
        
}

nav li {
    font-size: 1rem;
    color: #1d1e22;
    background-color: transparent;
    
}

li {
    display: flex;
    /*border: .2rem solid whitesmoke; */
    padding: 0;
    margin-left: 2rem;
    text-align: center;
    height: auto;
    max-width: 100%;
    /* background-color: transparent; */
    color: #1d1e22;
    overflow: hidden;
    background-color: transparent;
    

}


li:hover {
    /* background-color: #1d1e22; */ 
    
    color: #fff;
}

.nav-item-top{
    font-size: 1.5rem;
    overflow: hidden;
    color: #1d1e22;
}


.image-container {
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
    display: block;
    align-content: center;
    position: relative;
    overflow: hidden;
    

}

.imageParent{
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: 100vh;
    
}

/*-------mario bullet and plane animation--------*/



.mario-bullet {
    width: 3rem;
    overflow: hidden;
    z-index: 1;
    transform: rotate(.75turn);
    position: relative;
    left: 1800%;
    top: 5%;
    margin:0%;
    padding: 0%;
    z-index: 1;
    
}

.mario-bullet {
    transition: transform 1s;
    animation-name: mario-bullet-animation;
    animation-duration: 6s;
    animation-delay: 2s;
    visibility: hidden; 
    overflow: hidden;

}

@keyframes mario-bullet-animation {
    from {
        top: 5%;
        opacity: 1; 

   }

    to {
        top: 60%;
        visibility: visible;
        opacity: 1;
 
    }
    


} 
     /*
    0% {float: right}
    50% {float: center}
    100% {float: left} */

.mario-cloud {
        width: 14rem;
        z-index: 2;
        position: absolute;
        left: 500%;
        animation-name: animation-mariocloud;
        transition: transform 1s;
        animation-duration: 7s;
        animation-delay: .2s;
        animation-fill-mode: forwards;
        overflow: hidden;
            
    }

    
@keyframes animation-mariocloud {
    from {right: 200%;}
    to {left: -20%; }

    0% {
        float: left;
        
    }
   
    50% {float: center;
       
    }

    99% {float: right;
        opacity: 1;}


    100% {
        float: right;
        visibility: visible;
        opacity: 1;
        
    }
    

    /*
    0% {float: right}
    50% {float: center}
    100% {float: left} */
}





/*------ self photo section------- */
/*
.profile-pic {
    
    max-width: 100vw;
    height: 70vh;
    max-height: auto;
    overflow: hidden;
    justify-content: center;
    display: flex;
    z-index: 1;

}

.self {
    max-width: 30%;
    max-height: auto;
    
    border: black 2px solid;
    position: relative;
    overflow: hidden;
    display: flex;
    left: 20%;
                
}
*/


/*forehead  animation */
.forehead {
    animation-name: forehead-animation;
    transition: transform 1s;
    animation-duration: 5s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
    position: absolute;
    max-width: 200%;
    height: auto;
    
}

@keyframes forehead-animation {
    from {
        top: 15.39%;
        
    }

    to {
        top: 5%;
    }
}



/*forehead picture and shadow animation */

.forehead {
    max-width: 11.3%;
    height: auto;
    position: absolute;
    display: block;
    left: 64.1%;  
    top: 15.39%;
    z-index: 5;
    background-color: transparent;
    overflow: hidden;

}

.forehead-shadow {
    animation-name: forehead-shadow-animation; 
    
    transition: transform 1s;
    animation-duration: 5.3s;
    animation-delay: 3.38s;
    animation-fill-mode: forwards;
    z-index: 6;
    visibility: hidden; 
    overflow: hidden;
     
}

@keyframes forehead-shadow-animation {
    from {
        top: 24%;
        opacity: 0;
    }

    to {
        top: 14%;
        visibility: visible;
        opacity: 1;
    }
}

.forehead-shadow{
    max-width: 11.42%;
    min-width: 11.42%;
    height: auto;
    position: absolute;
    display: block;
    background-color: transparent;
    z-index: 9;
    left: 64.1%;  
    top: 15.39%;
    /* left: 64%;
    top: 80%; */
    overflow: hidden;
}




/*cloud picture and animation */
.cloud {
    max-width: 79%;
    min-width: 79%;
    height: auto;
    position: relative;
    display: block;
    z-index: 2;
    background-color: transparent;
    background-color: orange;
    z-index: 5;
    z-index: 105;
    overflow: hidden;
    right: 20.2%;
    top: 14.7%;
    
   
}

.cloud {
    animation-name: cloud-animation;
    transition: transform 1s;
    animation-duration: 5s;
    animation-delay: 4.5s;
    animation-fill-mode: forwards;
    position: relative;
    max-width: 40%;
    visibility: hidden;
    overflow: hidden;
}

@keyframes cloud-animation {
    from {
        opacity: 0%;
    }

    to {
        visibility: visible;
        opacity: 1;
    }
}

/*main head */

.main-head-div{
    overflow: hidden;
}

.main-head {
    max-width: 35%;
    min-width: 35%;
    height: auto;
    position: absolute;
    display: block;
    background-color: transparent; 
    top: 10%;
    right: 10%;
    background-color: transparent;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 0 1rem 0;    
    border-radius: 50%;
    overflow-y: hidden;
    
}


.main-head-shadow {
    /* max-width: 79%;
    min-width: 79%;
    height: auto;
    position: relative; */
    max-width: 35%;
    min-width: 35%;
    height: auto;
    position: relative;
    display: block;
    background-color: transparent;
    z-index: 13;
    overflow: hidden;
    /* right: -15.6%; */
    left: 80%;
    top: 30%;
    border: 100px solid salmon;
    
}

.main-head-shadow {
    animation-name: main-head-shadow-animation;
    transition: transform 1s;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    position: relative;
    
    /* visibility: hidden; */
    overflow: hidden;
    
}

@keyframes main-head-shadow-animation {
    from {
        opacity: 0%;
    }

    to {
        visibility: visible;
        opacity: 1;
    }
}


/*--------Introduction Paragraph--------*/

.intro-animation {
    display: block;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
   
}

.info {
    transition: transform 1s;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    position: relative;
    visibility: hidden;
    width: 40vw;
    
}

@keyframes intro-animation {
    from {
        opacity: 0%;
    }

    to {
        visibility: visible;
        opacity: 1;
    }
}


.info {
    position: relative;
    left: 6%;
    top: 20%;
    max-width: 100%;
    animation-name: intro-animation;
    font-size: 2rem;
    text-align: left;
    
    
}

.introduction {
    font-size: 1rem;
    max-width: 100%;
    position: relative;
    text-align: left;
   
}

.written {
    max-width: 100%;
    min-width: 100%;
    height: auto;
    position: absolute;
    text-align: left;
    display: block;
    top: 48%;
    margin: 1rem;
    
}

/*
.me {
    font-size: 1rem;
    position: relataive;
    display: block;
    border: 2px orange solid;
    top: 400%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
*/
/*-------Card container for protfolio projects--------*/

.project-container {
    perspective: 50rem;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;

}

.project-card {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    transform-style: preserve-3d;
    position: relative;
    transition: transform 1.5s cubic-bezier(0.4, 0.03, 0.5, 0.9);
    border: 4px solid black;
    left: 100px;
    top: 100px;


}

.card-image {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    object-fit: cover;
    outline: 2px solid #fff;
    outline-offset: 5px;
    backface-visibility: hidden;

}

.card-image:nth-child(2),

.project-card:hover {
    transform: rotate3d(0, 1, 0, 180deg);
}


/* project block section */

.project-block {
    display: flex;
    width: 100%;
    height: auto;
    background-color: green;
}


/* end of card container */

/* footer {
    max-width: 100vw;
    position: relative;
    /* top: 100%; */
    background-color: orange;
} */

.end{
    background-color: red;
    display: flex;
    justify-content: center;
}

.icon-footer {
    display: flex;
    font-size: 22rem;
    animation: float 5s ease-in-out infinite;
    
}
.icon-image {
    animation: float 5s ease-in-out infinite;
    animation-delay: 1s;
}

.icon-image-2{
    animation: float 5s ease-in-out infinite;
    animation-delay: 2s;
}

.icon-image-3{
    animation: float 5s ease-in-out infinite;
    animation-delay: 3s;
}

.icon-image-4{
    animation: float 5s ease-in-out infinite;
    animation-delay: 4s;
}

.icon-image-5{
    animation: float 5s ease-in-out infinite;
    animation-delay: 4.5s;
}


@keyframes float {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-6.5rem);
    }
    100%{
        transform: translateY(0);
    }
}

.contactForm{
    background-color: olive;
    position: absolute;
    display: block;
    width: 100vw;
    height: 100vh;
}

.foot{
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    left: 40%;
    width: 40vw;
    height: 80vh;
    border: 2px solid green;
}





/* card styling */


*{
    margin: 0;
    padding: 0;
    background-color: #1d1e22;
    font-family: "Asap Condensed";
    scroll-snap-type: mandatory;
    
}
.card-container{
    position: absolute;
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: azure;
    border: 2px solid yellow;
}

.project-cards{
    position: relative;
    top: 25%;
    border: 2px solid red;
    display: flex;
    gap: 5px;
    background-color: azure;
}

.p-cards{
    position: relative;
    left: 9%;
    display: flex;
    height: 40vh;
    width: 20vw;
    border: 2px solid orange;
    border-radius: 5px;
    
}

.p-cards:hover{
    color: black;
    border: 4px solid;
    
    /* transform: rotate3d(0, 1, 0, 180deg); */
}

.cc-card{
    
    height: 100vh;
    position: relative;
}
 /* FOOTER styling */


